<html>
  <head>
    <style>
      body {
        background: lightgrey;
        font-family: fantasy, monospace;
        font-size: 16px;
        
      }
    </style>
  </head>
  <body>
    <p>
      <h1>Number Guessing Game</h1>
       <p>Guess a number (0-100).</p>

       <p>

        <form>
            <input type='text' name='guess' />
            <input type='submit' value='Guess!' />
        </form>

      Your number is <%= message %>

    </p>
  </body>
</html>
